  

  html body div.container div.jumbotron {
      background-color: red;
      color: purple;
      text-align: center;
  }
  

  h1 {
    font-size: 20px;
    font-weight: 400;
  }

  .main-button-container {
    max-width: 450px;
    margin-left: auto;
  }

  .btn {
    padding:15px;
    font-size: 20px;
    width:275px;
    color: purple;
  }

  #mainArea {
    max-width: 50%;
    margin-top:10px;
    color: black;
    margin-left: auto;
    height: 500px;
    font-size: 26px;
  }

  .timer-p {
    font-size:24px;
    margin-top: 50px;
    opacity: .7;
    background-color: white;
  }
  
  p.text-center {
    font-size:30px;
    
  }
  .answer:hover {
    background: pink;
  }

  p {
    font-size: 18px;
    font-weight: 400;
  }

  .answer {
    color: black;
    height: 55px;
    border-radius: 4px;
    opacity: .7;
    padding: 15px;
    background-color: white;
  }

  img {
    width:70%;
    margin-top: 30px;
    border-radius: 25px;
  }

  .img-wrong {
    margin-top: 40px;
    border-radius: 25px;
    width:60%;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    background-image: url("../images/95658.jpg");
    font-family: 'Boogaloo', cursive;
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    
  }

  /* // Extra small devices  */
  @media (max-width: 575px) { 
    .timer-p {
      margin-top: 70px;
      margin-bottom: 30px;
    }
    body {
      background-image: url('../images/95658.jpg');
      background-size: auto;
      text-align: center;
      background-repeat: no-repeat;
      
    }

    h1 {
      font-size: 36px;
      font-weight: 300;
    }

    p {
      font-size: 18px;
      font-weight: 300;
    }

    img, .img-wrong, .answer {
      margin-top: 30px;
      width:120%;
      text-align: left;
     
      
    }

   .btn {
      margin: auto;
      font-size: 20px;
      width: 100%;
      text-align: center;
      color: white;
      
    }

    .jumbotron, #mainArea, .main-button-container {
      width: 100%;
      color: black;
      font-size: 20px;
      text-align: center;
      margin: auto;
      
    }
   }
  
  /* screens 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {  
  body {
    background-image: url('../images/95658.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
  }

  h1 {
      font-size: 36px;
      font-weight: 300;
    }
 
  p {
      font-size: 18px;
      font-weight: 300;
    }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:120%;
    text-align: left;
    
    
  }
 .btn {
    width:100%;
  }
  .jumbotron, #mainArea, .main-button-container {
    margin: auto;
    font-size: 20px;
    width: 100%;
    color: black;
    text-align: center;
    

  } 
}
  
  /* Tablets, 768px and up */
  @media (min-width: 768px) and (max-width: 991px) {  
  body {
    background-image: url('../images/95658.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
  }

  img, .img-wrong, .answer {
    margin-top: 30px;
    width:120%;
    text-align: left;
   
    
  }

  h1 {
    font-size: 36px;
    font-weight: 300;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

 .btn {
    width:100%;
  }
  .jumbotron, #mainArea, .main-button-container {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: black;

  } 
}